.Entry-List {
  padding: 0px 10%;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

#Entry-List-Title {
  padding: 6px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  text-align: center;
  position: sticky;
  top: 50px;
  z-index: 2;
}