.Title {
  padding: 60px 30px 0 30px;
  text-align: center;
}

.Image {
  max-width: 100%;
  max-height: 300px;
  border-radius: 20%;
  border-width: 4px 0 0 0;
  border-style: ridge;
  border-color: black;
}

.header-space {
  padding: 12px
}