#navbar {
  width: 100%;
  border: 10px;
  position: sticky;
  top: 0;
  z-index: 20;
}

.NavBar {
  width: 100%;
  padding: 5px 10px;
}

.Search-Bar {
  flex-grow: 3;
  padding: 5px 20px;
}

.Title-Name {
  vertical-align: middle;
}
